@import url('https://fonts.googleapis.com/css?family=Barrio|Ubuntu&subset=cyrillic,cyrillic-ext');
body {
	width: 100%;
	height: 100%;
	background: #f8f8f8;
	margin: 0;
	padding: 0;
	color: #212121; /*Цвет текста MD_Grey900*/
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	line-height: 135%;
	float: left;
}
span { 
	color: #FF6F00; /*Цвет текста MD_Amber900*/
}
.header {
	width: 78%;
	height: 40px;
	margin: 0 auto;
	padding: 1%;
	background: #212121; /*Цвет текста MD_Grey900*/
}
.header_logo {
	width: 20%;
	float: left;
	padding: 5px;
}
.header_logo a {
	color: #FFD54F; /*Цвет текста MD_Amber300*/
	font-size: 3em;
	font-family: 'Barrio', sans-serif;
	text-decoration: none;
}
.header_menu {
	width: 60%;
	float: left;
	padding: 5px;
	radi: 5px;
}
.header_menu_links {
	float: left;
	font-size: 1.4em;
	margin-right: 2%;
	padding: 5px;
}
.header_menu_links a {
	text-decoration: none;
	color: #FF8F00; /*Цвет текста MD_Amber900*/
}
.header_menu_links:hover {
	color: #FF6F00; /*Цвет текста MD_Amber900*/
}
.content {
	clear: both;
	width: 74%;
	margin: 0 auto;
	padding: 2% 2% 3% 4%; /*сверху справа снизу слева*/
	background: #E0E0E0; /*Цвет текста MD_Grey300*/
}
.footer {
	width: 78%;
	height: 40px;
	margin: 0 auto;
	padding: 1%;
	background: #E0E0E0; /*Цвет текста MD_Grey300*/
}

/*Временно для задания*/
/*При вводе текста в поле “Email” на странице контактной информации поменять цвет текста и цвет поля.*/
.colortext {
	background-color: orange; /* Цвет фона */
	color: white; /* Цвет текста */
}
/*При вводе текста в текстовые поля каждое слово должно начинаться с большой буквы, даже если пользователь будет вводить с маленькой буквы.*/
input, textarea {text-transform: capitalize;}